.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    background-color: transparent;

    line-height: 1;

    border-radius: 4px;
    user-select: none;

    font-weight: 600;
    outline: none;
    border-width: 0;
    cursor: pointer;

    transition: background-color .1s, color .1s, box-shadow .1s, -webkit-box-shadow .1s;

    font-size: 18px;
    margin: 10px auto;


    width: 250px;

    color: 333;
    border: 1px solid #333;

    & svg {
        padding: 5px 0;
    }

    &:hover {
        border-color: #1170cd;
        color: #1170cd;
    }
}

.outline {
    border: none;
    background-color: #1a91f0;
    color: #ffffff;

    &:hover {
        background-color: #1170cd;
        color: #ffffff;
    }
}