.feedback_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #fff;
    padding: 40px;
    margin: 15px;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    border: 1px solid transparent;

    width: 100%;

    box-shadow: rgb(15 56 113 / 32%) 0px 0px 1px, rgb(15 56 113 / 12%) 0px 1px 2px, rgb(15 56 113 / 8%) 0px 2px 4px;

    &:hover {
        box-shadow: rgb(15 56 113 / 32%) 0px 0px 1px, rgb(15 56 113 / 8%) 0px 2px 4px -1px, rgb(15 56 113 / 12%) 0px 8px 20px -4px;
    }

    .feedback_item_avatar {
        display: flex;
        flex-direction: column;
        width: 10%;

        & img {
            // width: 100%;
            border-radius: 4px;
            overflow: hidden;
        }
    }

    .feedback_item_description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;

        .feedback_item_rating {
            display: flex;
            flex-direction: row;

            & svg {
                color: #ffba00;
            }
        }


        & span {
            display: flex;
            padding: 7px;

            & b {
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }
}

.feedback_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;

    & h2 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
    }
}