form {
    display: flex;
    flex-direction: column;

    width: 40%;
    margin: auto;

    & h1,
    & h2,
    & h3 {
        display: flex;
        justify-content: center;
        font-weight: bold;

        padding: 5px;
        margin: 15px 0;

    }

    .form-control {
        display: flex;
        flex-direction: column;
        margin: 15px 0;

        width: 100%;
        overflow: hidden;

        & label,
        & span {
            display: flex;
            padding: 5px;
            font-size: 20px;
        }

        & input,
        & select {
            display: flex;
            background-color: #fff;

            padding: 20px 30px;
            line-height: 1;
            border-radius: 4px;
            user-select: none;

            font-weight: 600;
            outline: none;
            border-width: 0;
            cursor: pointer;
            border: 1px solid transparent;
            transition: 0.3s ease-in-out;


            &:hover,
            &:active,
            &:focus {
                border-color: #000;
            }

        }

        & span {
            transition: 0.3s ease-in-out;
            color: red;
        }
    }
}