form {
    display: flex;
    flex-direction: column;

    width: 35%;
    margin: auto;

    & h1,
    & h2,
    & h3 {
        display: flex;
        justify-content: center;

        padding: 5px;
        margin: 15px 0;
    }

    .form-control {
        display: flex;
        flex-direction: column;
        margin: 10px 0;

        width: 100%;
        overflow: hidden !important;
        position: relative;

        & label,
        & span {
            display: flex;
            line-height: 20px;
            padding: 2px 0;
            font-size: 14px;
            color: rgb(130, 139, 162);
        }

        & input,
        & select {
            display: flex;
            background-color: rgb(239, 242, 249);

            padding: 12px 16px;
            line-height: 1;
            border-radius: 4px;
            overflow: hidden;
            user-select: none;

            font-weight: 600;
            outline: none;

            border-width: 0;
            cursor: pointer;
            border: 1px solid transparent;
            transition: 0.3s ease-in-out;



            &:hover,
            &:active,
            &:focus {

                border-color: #000;
            }

        }

        & img {
            border-radius: 4px;
        }

        & span {
            transition: 0.3s ease-in-out;
            color: red;
        }
    }

    .form-search {
        flex-direction: row;

        input {
            width: 100%;
            border-radius: 0;
        }

        button {
            width: auto;
            margin: 0 auto;
        }

        #btn_filter {
            border-radius: 4px 0 0 4px;
        }

        #btn_search {
            border-radius: 0 4px 4px 0;

        }
    }

    .form-bool {
        flex-direction: row;

        & input[type=checkbox] {
            width: 10%;
        }

    }


    @media (min-width: 769px) and (max-width: 1024px) {
        width: 100%;
    }

    @media (min-width: 150px) and (max-width: 768px) {
        width: 100%;
    }
}