@import "form.scss", "page.scss", "error.scss";

* {
    margin: 0;
    padding: 0;

    font-family: "Arial", sans-serif;
}


a {
    text-decoration: none;
}

header {
    display: flex;

    border-bottom: 1px solid #ccc;


    & a {
        margin: 5px;
        font-size: 20px;
        padding: 10px;
        color: #777;
        transition: 0.4s all;

        &:hover {
            color: #000
        }
    }
}