header {

    display: flex;
    height: 100%;
    width: 100%;
    transition: 0.3s all ease-in-out;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        overflow: hidden;

        z-index: 999;

        width: 100%;

        background-color: #ffffff;
        font-weight: 400;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        transition: 0.3s all ease-in-out;

        &>div {
            display: flex;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;


            transition: 0.35s all;
            padding: 0 16px;
            margin: 5px;


            color: #1e2532;

            &:hover,
            &:focus {
                color: #10529b;
            }

        }

        & img {
            height: 40px;

        }

        & svg {
            margin: 0 5px;
            font-size: 24px;
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {}

    @media (min-width: 150px) and (max-width: 768px) {
        nav {
            top: auto;
            bottom: 0;

            .nav__logo {
                display: none;
            }

            .nav__menu {
                width: 100%;
                overflow: hidden;

                span {
                    display: none;
                }

                a {
                    width: 20%;
                    margin: 0;
                    padding: 15px 0;
                }
            }

        }
    }

}