header {
    display: flex;
    flex-direction: row;

    &>div {
        display: flex;
    }

    a {
        display: flex;

        & svg {
            display: flex;
        }
    }


    @media (min-width: 769px) and (max-width: 1024px) {}

    @media (min-width: 150px) and (max-width: 768px) {}

}