.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    min-height: 100vh;
    background-color: #c2d5e0;

    &>* {
        max-width: 80%;

    }
}